name: debugger-action
on: 
  workflow_dispatch:
jobs:
  build:
    runs-on: x64
    steps:
     - uses: actions/checkout@v2
 
     - name: Setup Debug Session
       uses: csexton/debugger-action@master
       
     # - uses: touch /tmp/keepalive
